{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["@prettier/plugin-php", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "phpVersion": "8.1",
        "trailingCommaPHP": true,
        "braceStyle": "1tbs",
        "printWidth": 120
      }
    },
    {
      "files": "*.blade.php",
      "options": {
        "parser": "html"
      }
    }
  ]
}
